@{
    ViewData["Title"] = "Home Page";
}
<h2>Представление Index.cshtml</h2>

@*@await Html.PartialAsync("_GetMessage")
@{await Html.RenderPartialAsync("_GetMessage");}
@await Html.PartialAsync("_GetMessage", new List<string> { "Lumia 950", "iPhone 6S", "Samsung Galaxy s 6", "LG G 4" })*@

